* {
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
  text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

#pic_container{
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  /* background: blue; */
  /* border: solid 1px green; */
  margin: 0 auto;
  margin-top: 10px;

}
#my_pic{
  margin-top: 30px;
  margin-left: -50px;
  /* border: solid 1px red; */
  transform: rotate(90deg);
  height: 100%;
  /* width: 100%; */
}

body {
  background-color: black;
}
#name_bar{width: 85%;
    margin: 0 auto;
    border-radius: 33%;
    background: radial-gradient(white, #3C3C3C, #000000,#000000);
}

#middle_bar{
background: linear-gradient(black, #3C3C3C,gray,#3C3C3C, black);
font-size: 50px;
text-align: center;
}

h1 {
  text-align: center;
  font-size: 575%;
  color: black;
  text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
  /* text-transform: uppercase; */
  letter-spacing: 1%;
  margin: 45%, 0%;
}
h2 {
  text-align: center;
  font-size: 275%;
  color: #11A1B6;
  text-transform: uppercase;
  letter-spacing: 1%;
}
h3 {
  text-align: center;
  font-size: 275%;
  /* color: #11A1B6; */
  /* text-transform: uppercase; */
  letter-spacing: 1%;
}

.contact_icon {
    position: relative;
    top: 7px;
    right: 0px;
    height: 25px;
    width: auto;
}
/* start parallax */
/* #parallax{
  background: url('images/kyle.png') repeat-y fixed 50%;
  background-position: 50% 50%; */
  /*this is how far the image is set to the right and down*/
  /* background-size: contain;
  height: 500px;
} */
.parallax-second{
  background: url('images/KYLE.png') repeat-y fixed 50%;
  background-position: 50% 50%;
  height: 500px;
  background-size: contain;


}

/* .parallax-window {
    height: 500px;
    padding: 100px 35px;
    background: transparent;
} */
.parallax-inner{
  z-index: 2;
  position: relative;
  margin: 10px 50px 20px;
  color: white;
  /* text-transform: uppercase; */
  font-size: 130%;
  text-align: center;
}

/* end parallax */
#contact{
  text-align: center;
}
.contact-icon{
  width: 32px;
  height: auto;

}
.contact-info{
  display: inline-block;
}
#about_me p{
  margin: 10px 50px 20px;
  color: white;
  font-size: 130%;
  text-align: center;
}

.project_icon{
  height: 162px;
  width: 162px;
  /* margin-left: -1206px; */
  /* margin-top: 20px; */
  border-radius: 82px;
  display: block;
  margin: 0 auto;
}
.project-section{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    /* (default sets it at row and places items in the next available spot in the row. Dense attempts to fill the empty spots in the grid, its an example of source order independence, meaning the grid can lay the items regardless of how they are in the markup/html) */
}
