* {
  margin: 0;
  padding: 0;
  border: 0;
  text-shadow: -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
body {
  background-color: black;
}
h1 {
  text-align: center;
  font-size: 575%;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 45%, 0%;
}
h2 {
  text-align: center;
  font-size: 275%;
  color: #11A1B6;
  text-transform: uppercase;
  letter-spacing: 1%;
}
h3 {
  text-align: center;
  font-size: 275%;
  /* color: #11A1B6; */
  /* text-transform: uppercase; */
  letter-spacing: 1%;
}

.contact_icon {
    position: relative;
    top: 7px;
    right: 0px;
    height: 25px;
    width: auto;
}
/* start parallax */
/* #parallax{
  background: url('images/kyle.png') no-repeat fixed 100%;
  background-position: 50% 50%;
  background-size: cover;
  height: 500px;
}
#parallax-second{
  background: url('images/kyle.png') no-repeat fixed 100%;
  background-position: 50% 50%;
  height: 500px;
  background-size: cover;


} */

.parallax-window {
    /* min-height: 500px; */
    padding: 100px 35px;
    background: transparent;
}
.parallax-inner{
  z-index: 2;
  position: relative;
}

/* end parallax */
#contact{
  text-align: center;
}
.contact-icon{
  width: 32px;
  height: auto;

}
.contact-info{
  display: inline-block;
}
